<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>40026965229-kr4dcdqo14ec3vchf6eaq1vbtl2f7f3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40026965229-kr4dcdqo14ec3vchf6eaq1vbtl2f7f3l</string>
	<key>API_KEY</key>
	<string>AIzaSyCIbGOSyugmjBaqTO4O_0oCpmy39Sd0b0g</string>
	<key>GCM_SENDER_ID</key>
	<string>40026965229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>market.coinotc.app</string>
	<key>PROJECT_ID</key>
	<string>fcm-notification-359a7</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-notification-359a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40026965229:ios:2b36e35c5f3c5509</string>
	<key>DATABASE_URL</key>
	<string>https://fcm-notification-359a7.firebaseio.com</string>
</dict>
</plist>