<!--
  Generated template for the SetNewPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>setNewPassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <ion-list>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" [type]="password_type"></ion-input>
      <button ion-button large clear item-end type="button" (click)="togglePasswordMode()" style="height:32px;">
        <ion-icon *ngIf="password_type=='password'" name="eye" item-right></ion-icon>
        <ion-icon *ngIf="password_type=='text'" name="eye-off" item-right></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.touched && authForm.controls.password.hasError('required')">
      <ion-label style="color:red">Password is required.</ion-label>
    </ion-item>
    <ion-item *ngIf="authForm.controls.password.touched && authForm.controls.password.hasError('pattern')">
      <ion-label style="color:red">Invalid password.
        <br>- Password must include special characters
        <br>&nbsp;&nbsp;(!@#$%^&*).
        <br>- Alphanumeric and both uppercase & lowercase.
        <br>- Minimum password length is 12 characters long.
        <br>- At least 6 alphabets.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" [disabled]="!authForm.controls.password.valid" [type]="confirm_password_type"></ion-input>
      <button ion-button large clear item-end type="button" [disabled]="!authForm.controls.password.valid" (click)="toggleConfirmPasswordMode()"
        style="height:32px;">
        <ion-icon *ngIf="confirm_password_type=='password'" name="eye" item-right></ion-icon>
        <ion-icon *ngIf="confirm_password_type=='text'" name="eye-off" item-right></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="authForm.controls.confirmPassword.hasError('required') && authForm.controls.confirmPassword.touched">
      <ion-label style="color:red">Confirm password is required.</ion-label>
    </ion-item>
    <ion-item *ngIf="authForm.controls.confirmPassword.touched && authForm.controls.confirmPassword.hasError('isValid') && authForm.controls.password.valid">
      <ion-label style="color:red">Confirm password does not match the password.</ion-label>
    </ion-item>
    </ion-list>
    <div padding>
      <button tappable ion-button [disabled]="!authForm.valid" type="submit">
        Reset Password
      </button>
    </div>
  </form>
</ion-content>