
page-auth {
  //ion-item:first-child {
  //  border-top-left-radius: 5px;
  //  border-top-right-radius: 5px;
  //}
  //ion-item:last-child {
  //  border-bottom-left-radius: 5px;
  //  border-bottom-right-radius: 5px;
  //}
  //ion-item.item {
  //  background-color: rgba(255, 255, 255, 0.4);
  //  margin-bottom: 1px;
  //  .label {
  //    width: 10%;
  //    color: rgba(0, 0, 0, 0.6);
  //    font-size: 1.2em;
  //  }
  //}
  ion-item {
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
  }
  .logoHeader {
    margin-bottom: 2.5%
  }
  .loginRegForm {
    margin-top:  2.5%
  }

}

