<!--
  Generated template for the Auth page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar no-border-bottom>
      <img src="assets/imgs/logo_1.svg" style="margin-left: 3%;">
      <!--<ion-title >{{ authType === 'register' ? 'Sign Up' : 'Sign In' }}&lt;!&ndash; Line 10 Without Translation &ndash;&gt;-->
      <!--</ion-title>-->
      <ion-buttons start *ngIf="isModal">
        <button ion-button (tap)="close()">
          Cancel
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-segment [(ngModel)]="authType" (ngModelChange)="authTypeChange()">
      <ion-segment-button value="login">
        {{'SignIn' | translate}}
      </ion-segment-button>
      <ion-segment-button value="register" >
        {{'Register' | translate}}
      </ion-segment-button>
    </ion-segment>


</ion-header>

  <ion-content class="loginRegForm">
    <form [formGroup]="authForm" (ngSubmit)="submitForm()" >
      <!-- <fieldset [disabled]="isSubmitting" > -->
        <ion-list>
          <ion-item *ngIf="authType == 'register'" >
            <ion-label stacked>Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <ion-item [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}">
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
            <p>Sorry, field password is required!</p>
          </ion-item>
          <ion-item *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
            <p>Sorry, minimum password length is 8!</p>
          </ion-item>    
          <ion-item >
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>

          <ion-item *ngIf=" authType === 'register' " >
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input formControlName="confirmPassword" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <div padding>
          <button tappable ion-button [disabled]="!authForm.valid" type="submit">
            {{ (authType === 'register' ? 'Register' : 'SignIn') | translate }}
          </button>
        </div>
    </form>

  </ion-content>
