<!--
  Generated template for the Auth page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar no-border-bottom>
      <img src="assets/imgs/logo_1.svg" style="margin-left: 3%;">
      <!--<ion-title >{{ authType === 'register' ? 'Sign Up' : 'Sign In' }}&lt;!&ndash; Line 10 Without Translation &ndash;&gt;-->
      <!--</ion-title>-->
      <ion-buttons start *ngIf="isModal">
        <button ion-button (tap)="close()">
          Cancel
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-segment [(ngModel)]="authType" (ngModelChange)="authTypeChange()">
      <ion-segment-button value="login">
        {{'SignIn' | translate}}
      </ion-segment-button>
      <ion-segment-button value="register" >
        {{'Register' | translate}}
      </ion-segment-button>
    </ion-segment>


</ion-header>

  <ion-content class="loginRegForm">
    <form [formGroup]="authForm" (ngSubmit)="submitForm()" >
      <!-- <fieldset [disabled]="isSubmitting" > -->
        <ion-list>
          <ion-item *ngIf="authType == 'register'">
            <ion-label stacked>Username</ion-label>
            <ion-input formControlName="username" autocapitalize="none" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="authType == 'register' && authForm.controls.username.hasError('required') && authForm.controls.username.touched">
            <ion-label style="color:red">Username is required.</ion-label>
          </ion-item>
          <ion-item *ngIf="authType == 'register' && authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
            <ion-label style="color:red">Please enter username between 8 and 20.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" autocapitalize="none" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">
            <ion-label style="color:red">Email is required.</ion-label>
          </ion-item>
          <ion-item *ngIf="authForm.controls.email.hasError('email') && authForm.controls.email.touched">
            <ion-label style="color:red">Invalid email address.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" [type]="password_type"></ion-input>
            <button ion-button large clear item-end type="button" (click)="togglePasswordMode()" style="height:32px;">
              <ion-icon *ngIf="password_type=='password'" name="eye" item-right></ion-icon>
              <ion-icon *ngIf="password_type=='text'" name="eye-off" item-right></ion-icon>
            </button>
          </ion-item>
          <ion-item *ngIf="authForm.controls.password.touched && authForm.controls.password.hasError('required')">
            <ion-label style="color:red">Password is required.</ion-label>
          </ion-item>
          <ion-item *ngIf="authForm.controls.password.touched && authForm.controls.password.hasError('pattern')">
            <ion-label style="color:red">Invalid password. <br>- Password must include special characters <br>&nbsp;&nbsp;(!@#$%^&*). <br>- Alphanumeric and both uppercase & lowercase. <br>- Minimum password length is 12 characters long. <br>- At least 6 alphabets.</ion-label>
          </ion-item>     
          <ion-item *ngIf=" authType === 'register' " >
            <ion-label stacked>Confirm Password</ion-label>
              <ion-input formControlName="confirmPassword" [disabled]="!authForm.controls.password.valid" [type]="confirm_password_type"></ion-input>
              <button ion-button large clear item-end type="button" [disabled]="!authForm.controls.password.valid" (click)="toggleConfirmPasswordMode()" style="height:32px;">
                <ion-icon *ngIf="confirm_password_type=='password'" name="eye" item-right></ion-icon>
                <ion-icon *ngIf="confirm_password_type=='text'" name="eye-off" item-right></ion-icon>
              </button>
          </ion-item>
          <ion-item *ngIf="authType == 'register' && authForm.controls.confirmPassword.hasError('required') && authForm.controls.confirmPassword.touched">
            <ion-label style="color:red">Confirm password is required.</ion-label>
          </ion-item>
          <ion-item *ngIf="authType === 'register' && authForm.controls.confirmPassword.touched && authForm.controls.confirmPassword.hasError('isValid') && authForm.controls.password.valid">
            <ion-label style="color:red">Confirm password does not match the password.</ion-label>
          </ion-item>
        </ion-list>
        <div padding>
          <button tappable ion-button full [disabled]="!authForm.valid" type="submit">
            {{ (authType === 'register' ? 'Register' : 'SignIn') | translate }}
          </button>
        </div>
    </form>
    <div  *ngIf=" authType === 'login' " style="text-align: center">
      <a  (tap)="forgetPassword()" >
        Forget your password?
      </a>
    </div>
  </ion-content>
