<!--
  Generated template for the AdinformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{tradetype.type | translate}} {{tradetype.crypto}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>
      <text-avatar [text]="information.owner" (tap)="profile()" item-left></text-avatar>
      <ion-card-title>{{information.owner}}</ion-card-title>
      <p>{{'limit' | translate}}:{{information.min_price}}-{{information.max_price}} {{'fiat.'+information.fiat | translate}}</p>
      <div item-right text-right>
        <h4>{{information.price}} {{'fiat.'+information.fiat | translate}}</h4>
        <span>{{'payment.'+information.payment | translate}}</span>
      </div>
    </ion-item>
  </ion-card>
  <ion-card>
    <div ion-row text-center *ngIf="user">
      <div ion-col>
        <h4>{{user.orderCount}}</h4>
        <span>{{'Trades' | translate}}</span>
      </div>
      <div ion-col>
        <h4>{{user.goodCount}}</h4>
        <span>{{'Good' | translate}}</span>
      </div>
      <div ion-col>
        <h4>{{range}}%</h4>
        <span>{{'Rating' | translate}}</span>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      {{'AdvertisementMessage' | translate}}:
    </ion-card-header>
    <ion-card-content>
      {{information.message}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!ismine">
    <ion-card-header>
      {{'howMuchToBuy' | translate}}
    </ion-card-header>
    <ion-card-content ion-row no-padding>
      <ion-item ion-col>
        <ion-label item-right>{{'fiat.'+information.fiat | translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="orderinformation.amount" (ngModelChange)="amountchange()"></ion-input>
      </ion-item>
      <div text-center ion-col col-1 padding-top>
        <ion-icon name="code-working"></ion-icon>
      </div>
      <ion-item ion-col>
        <ion-label item-right>{{information.crypto}}</ion-label>
        <ion-input type="number" [(ngModel)]="orderinformation.quantity" (ngModelChange)="quantitychange()"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer [ngSwitch]="ismine">
  <div *ngSwitchCase="true"></div>
  <ion-toolbar *ngSwitchCase="false">
  <!-- <ion-toolbar *ngSwitchDefault> -->
    <button ion-button [disabled]="disabled" full (tap)="makeorder()">{{tradetype.type | translate}}</button>
  </ion-toolbar>
</ion-footer>
*ngSwitchDefault