<!--
  Generated template for the OrderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>
    <ion-title>{{'OrderList' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segments">
      <ion-segment-button value="Active" (click)="onSegment()">
        {{'Active' | translate}}
      </ion-segment-button>
      <ion-segment-button value="Finished" (click)="onSegment()">
        {{'Finished' | translate}}
      </ion-segment-button>
      <!-- <ion-segment-button value="ActiveBuy" (tap)="onSegment()">
        {{'ActiveBuy' | translate}}
      </ion-segment-button>
      <ion-segment-button value="ActiveSell" (tap)="onSegment()">
        {{'ActiveSell' | translate}}
      </ion-segment-button>
      <ion-segment-button value="FinishedBuy" (tap)="onSegment()">
        {{'FinishedBuy' | translate}}
      </ion-segment-button>
      <ion-segment-button value="FinishedSell" (tap)="onSegment()">
        {{'FinishedSell' | translate}}
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pulldown to Refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="segments">

    <div *ngSwitchCase="'Active'">

      <ion-card *ngFor="let order of activeOrders" (tap)="onDetail(order,order.buyer==user.username?order.seller:order.buyer)">

        <ion-item>
          <text-avatar [text]="order.buyer==user.username?order.seller:order.buyer" item-left></text-avatar>

          <h2>{{order.buyer==user.username?order.seller:order.buyer}}
            <span style="float:right">{{order.crypto}}</span>
          </h2>
          <ion-badge color="{{order.buyer==user.username?'secondary':'danger'}}">{{(order.buyer==user.username?'Buy':'Sell') | translate}}</ion-badge>
          <span style="float:right">{{('orderStatus.' + order.finished) | translate}}</span>
        </ion-item>

        <ion-card-content>
          {{'OrderID' | translate}}:
          <span style="float:right">{{order._id}}</span>
          <br>{{'Amount' | translate}}:
          <span style="float:right">{{order.amount| number : '1.2-2'}}</span>
          <br>{{'Seller' | translate}}:
          <span style="float:right">{{order.seller}}</span>
        </ion-card-content>

      </ion-card>
    </div>

    <div *ngSwitchCase="'Finished'">

      <ion-card *ngFor="let order of finishedOrders" (tap)="onDetail(order,order.buyer==user.username?order.seller:order.buyer)">

        <ion-item>
          <text-avatar [text]="order.buyer==user.username?order.seller:order.buyer" item-left></text-avatar>

          <h2>{{order.buyer==user.username?order.seller:order.buyer}}
            <span style="float:right">{{order.crypto}}</span>
          </h2>
          <ion-badge color="{{order.buyer==user.username?'secondary':'danger'}}">{{(order.buyer==user.username?'Buy':'Sell') | translate}}</ion-badge>
          <span style="float:right">{{('orderStatus.' + order.finished) | translate}}</span>
        </ion-item>

        <ion-card-content>
          {{'OrderID' | translate}}:
          <span style="float:right">{{order._id}}</span>
          <br>{{'Amount' | translate}}:
          <span style="float:right">{{order.amount| number : '1.2-2'}}</span>
          <br>{{'Seller' | translate}}:
          <span style="float:right">{{order.seller}}</span>
        </ion-card-content>

      </ion-card>
    </div>

  </div>
</ion-content>

<!-- <div *ngSwitchCase="'ActiveBuy'">

      <ion-card *ngFor="let order of buyerActiveOrders" (tap)="onDetail(order,order.seller)">

        <ion-item>
          <ion-avatar item-start>
            <ion-text-avatar>{{order.seller}}</ion-text-avatar>
          </ion-avatar>
          <h2>{{order.seller}}
            <span style="float:right">{{order.crypto}}</span>
          </h2>
        </ion-item>

        <ion-card-content>
          {{'OrderID' | translate}}:
          <span style="float:right">{{order._id}}</span>
          <br>{{'Amount' | translate}}:
          <span style="float:right">{{order.amount}}</span>
          <br>{{'Seller' | translate}}:
          <span style="float:right">{{order.seller}}</span>
        </ion-card-content>

      </ion-card>
    </div>

    <div *ngSwitchCase="'ActiveSell'">
      <ion-card *ngFor="let order of sellerActiveOrders" (tap)="onDetail(order,order.buyer)">

        <ion-item>
          <ion-avatar item-start>
            <ion-text-avatar>{{order.buyer}}</ion-text-avatar>
          </ion-avatar>
          <h2>{{order.buyer}}
            <span style="float:right">{{order.crypto}}</span>
          </h2>
        </ion-item>

        <ion-card-content>
          {{'OrderID' | translate}}:
          <span style="float:right">{{order._id}}</span>
          <br>{{'Amount' | translate}}:
          <span style="float:right">{{order.amount}}</span>
          <br>{{'Buyer' | translate}}:
          <span style="float:right">{{order.buyer}}</span>
        </ion-card-content>

      </ion-card>
    </div>

    <div *ngSwitchCase="'FinishedBuy'">
      <ion-card *ngFor="let order of buyerFinishedOrders" (tap)="onDetail(order,order.seller)">

        <ion-item>
          <ion-avatar item-start>
            <ion-text-avatar>{{order.seller}}</ion-text-avatar>
          </ion-avatar>
          <h2>{{order.seller}}
            <span style="float:right">{{order.crypto}}</span>
          </h2>
        </ion-item>

        <ion-card-content>
          {{'OrderID' | translate}}:
          <span style="float:right">{{order._id}}</span>
          <br>{{'Amount' | translate}}:
          <span style="float:right">{{order.amount}}</span>
          <br>{{'Seller' | translate}}:
          <span style="float:right">{{order.seller}}</span>
        </ion-card-content>

      </ion-card>
    </div>

    <div *ngSwitchCase="'FinishedSell'">
      <ion-card *ngFor="let order of sellerFinishedOrders" (tap)="onDetail(order,order.buyer)">

        <ion-item>
          <ion-avatar item-start>
            <ion-text-avatar>{{order.buyer}}</ion-text-avatar>
          </ion-avatar>
          <h2>{{order.buyer}}
            <span style="float:right">{{order.crypto}}</span>
          </h2>
        </ion-item>

        <ion-card-content>
          {{'OrderID' | translate}}:
          <span style="float:right">{{order._id}}</span>
          <br>{{'Amount' | translate}}:
          <span style="float:right">{{order.amount}}</span>
          <br>{{'Buyer' | translate}}:
          <span style="float:right">{{order.buyer}}</span>
        </ion-card-content>

      </ion-card>
    </div> -->