<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><p>{{profileUser}}</p></ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="list-avatar-page" *ngIf="model">
  <ion-list no-lines>
    <ion-item>
        <text-avatar [text]="profileUser" item-left></text-avatar>
      <h2>{{profileUser}}</h2>
    </ion-item>      
        <button ion-button clear  (click)="follow()" >
          <ion-icon 
            [name]="visible ? 'ios-thumbs-up-outline' :'ios-thumbs-up'">
          </ion-icon>
        </button>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col> 
            <h2>{{model.orderCount}}</h2>
            <p>Trades</p>
          </ion-col>
          <ion-col>
            <h2>{{followingCount}}</h2>
            <p>Following</p>
          </ion-col>
          <ion-col>
            <h2>{{followerCount}}</h2>
            <p>Followers</p>
          </ion-col>
          <ion-col>
            <h2>{{rate}}</h2>
            <p>Rating</p>
          </ion-col>
          <ion-col>
            <h2>0</h2>
            <p>Volume</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="ad" (click)="onSegment()">
        His Ad
      </ion-segment-button>
      <ion-segment-button value="trade" (click)="onSegment()">
        My trades with him
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list *ngIf="model">
    <div [ngSwitch]="value">
      <ion-list *ngSwitchCase="'ad'">
        <ion-item *ngFor="let advertisement of ad" (tap)="adinformation(advertisement)">
          <text-avatar [text]="advertisement.owner" item-left></text-avatar>
          <h2>{{advertisement.owner}}</h2>
          <p>{{advertisement.payment}}</p>
          <div item-right text-right>
            <h5 style="color:#02cb66">{{advertisement.price| number : '1.2-2'}} {{+advertisement.fiat}}</h5>
          </div>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'trade'">
        <ion-item  *ngFor="let advertisement of trade"  (tap)="onDetail(advertisement,advertisement.owner)">
          <text-avatar [text]="advertisement.owner" item-left></text-avatar>
          <h2>{{advertisement.owner}}</h2>
          <p>{{advertisement.payment}}</p>
          <div item-right text-right>
            <h5 style="color:#02cb66">{{advertisement.price| number : '1.2-2'}} {{+advertisement.fiat}}</h5>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>