<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><p>{{profileUser}}</p></ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="list-avatar-page" *ngIf="model">
  <ion-list no-lines>
    <ion-item>
        <text-avatar [text]="profileUser" item-left></text-avatar>

      <h2>{{profileUser}}</h2>
      <p>Trade with him 0 times</p>
    </ion-item>      
    <ion-note *ngIf="currentUserName !== profileUser" item-end>
      <!-- <ion-label>{{blockStatus}}</ion-label>
      <ion-toggle [(ngModel)]="blockStatus"></ion-toggle>
      <ion-label>{{blockStatus}}</ion-label>
      <ion-toggle [(ngModel)]="blockStatus"></ion-toggle> -->
        <button ion-button (click)="follow()" >{{followStatus}}</button>
     </ion-note>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col> 
            <h2 >{{model.orderCount}}</h2>
            <p>Trades</p>
          </ion-col>
          <ion-col>
            <h2>0</h2>
            <p>Following</p>
          </ion-col>
          <ion-col>
            <h2>{{rate}}</h2>
            <p>Rating</p>
          </ion-col>
          <ion-col>
            <h2>{{model.volume}}</h2>
            <p>Volume</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="ad" (click)="onSegment()">
        His Ad
      </ion-segment-button>
      <ion-segment-button value="trade" (click)="onSegment()">
        My trades with him
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list>
    <div [ngSwitch]="value">
      <ion-list *ngSwitchCase="'ad'">
          <ion-card *ngFor="let advertisement of ad" (click)="adinformation(advertisement)">
            <ion-item>
              <text-avatar [text]="advertisement.owner" item-left></text-avatar>

              <h2>{{advertisement._id}}
                <!-- <span style="float:right">{{order.crypto}}</span> -->
              </h2>
            </ion-item>
    
            <ion-card-content>
              <!-- {{'OrderID' | translate}}:{{order._id}}
              <br>{{'Amount' | translate}}:
              <span style="float:right">{{order.amount}}</span>
              <br>{{'Seller' | translate}}:
              <span style="float:right">{{order.seller}}</span> -->
            </ion-card-content>
          </ion-card>
      </ion-list>
      <ion-list *ngSwitchCase="'trade'">
          <ion-card *ngFor="let advertisement of trade"  (click)="onDetail(advertisement,advertisement.owner)">
            <ion-item>
              <text-avatar [text]="advertisement.owner" item-left></text-avatar>

              <h2>{{advertisement._id}}
                <!-- <span style="float:right">{{order.crypto}}</span> -->
              </h2>
            </ion-item>
    
            <ion-card-content>
              <!-- {{'OrderID' | translate}}:{{order._id}}
              <br>{{'Amount' | translate}}:
              <span style="float:right">{{order.amount}}</span>
              <br>{{'Seller' | translate}}:
              <span style="float:right">{{order.seller}}</span> -->
            </ion-card-content>
          </ion-card>
      </ion-list>
    </div>
  </ion-list>
</ion-content>