page-complain-information {

    .toolbar-background {
        background-color: red;
        border-color: transparent
      }
      .toolbar-title-ios{
        color: white
      }
      .button-inner {
        color: white
      }

}
