page-addadvertisement {
    ion-navbar >div.toolbar-background{
        background-color: #327eff;
    }

    .toolbar-title-ios{
      color: white
    }

    .button-inner {
      color: white
  }
}
