<!--
  Generated template for the AddadvertisementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngSwitch]="type">
  <ion-list *ngIf="type" [formGroup]="adform">
    <ion-item>
      <ion-label>{{'SelectCurrency' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.crypto" (ngModelChange)="getcryptoprice()" [ngModelOptions]="{standalone: true}">
        <ion-option value="ETHEREUM">Ethereum</ion-option>
        <ion-option value="MONERO">Monero</ion-option>
        <ion-option value="RIPPLE">Ripple</ion-option>
        <ion-option value="STELLAR">Stellar</ion-option>
        <ion-option value="CARDANO">Cardano</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Country' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.country" [ngModelOptions]="{standalone: true}">
        <ion-option value="singapore">{{'Singapore' | translate}}</ion-option>
        <ion-option value="china">{{'China' | translate}}</ion-option>
        <ion-option value="usa">{{'USA' | translate}}</ion-option>
        <ion-option value="korea">{{'Korea' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Currency' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.fiat" (ngModelChange)="getcryptoprice()" [ngModelOptions]="{standalone: true}">
        <ion-option value="SGD">{{'fiat.SGD' | translate}}</ion-option>
        <ion-option value="CNY">{{"fiat.CNY" | translate}}</ion-option>
        <ion-option value="USD">{{'fiat.USD' | translate}}</ion-option>
        <ion-option value="KRW">{{'fiat.KRW' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'PremiumSettings' | translate}}</ion-label>
      <ion-input text-right readonly [(ngModel)]="rangepercent" (ngModelChange)="changerange()" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-range min="-10" max="99" step="1" [(ngModel)]="rangepercent" (ngModelChange)="changerange()" [ngModelOptions]="{standalone: true}">
        <ion-label range-left>-10%</ion-label>
        <ion-label range-right>99%</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>{{'Price' | translate}}</ion-label>
      <ion-input text-right readonly [(ngModel)]="model.price" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'MinLimit' | translate}}</ion-label>
      <ion-input type="number" min="0" text-right [(ngModel)]="model.min_price" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'MaxLimit' | translate}}</ion-label>
      <ion-input type="number" min="0" text-right [(ngModel)]="model.max_price" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'Payment' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.payment" [ngModelOptions]="{standalone: true}">
        <ion-option value="paypal">{{'payment.paypal' | translate}}</ion-option>
        <ion-option value="bank">{{'payment.bank' | translate}}</ion-option>
        <ion-option value="alipay">{{'payment.alipay' | translate}}</ion-option>
        <ion-option value="wechatPay">{{'payment.wechatPay' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="type === 'Buy'">
      <ion-label>{{'PaymentWindow' | translate}}</ion-label>
      <ion-input type="number" placeholder="{{'minutes' | translate}}" text-right [(ngModel)]="model.limit" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-textarea [(ngModel)]="model.massage" placeholder="{{'AdvertisementMessage' | translate}}" [ngModelOptions]="{standalone: true}"></ion-textarea>
    <ion-item text-center *ngSwitchCase="'Buy'"><button ion-button round (click)="addbuyad()" large >{{'Publish' | translate}}</button></ion-item>
    <ion-item text-center *ngSwitchCase="'Sell'"><button ion-button round (click)="addsellad()" large >{{'Publish' | translate}}</button></ion-item>
  </ion-list>
  <div *ngSwitchDefault>
    error
  </div>

</ion-content>