<!--
  Generated template for the AddadvertisementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar mode="ios">
    <ion-title mode="ios">Create Advertisement</ion-title>
  </ion-navbar>
  <ion-segment mode="md" [(ngModel)]="type" style="background-color:white" (ngModelChange)="changetype()">
    <ion-segment-button mode="md" value="Buy" id="buy">
      Buy
    </ion-segment-button>
    <ion-segment-button mode="md" value="Sell" id="sell">
      Sell
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content [ngSwitch]="type">
  <ion-list mode="ios" *ngIf="type" [formGroup]="adform">
    <ion-item>
      <ion-label>{{'SelectCurrency' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.crypto" (ngModelChange)="getcryptoprice()" formControlName="crypto">
        <ion-option *ngIf="crypto.BITCOIN" value="BITCOIN">Bitcoin</ion-option>
        <ion-option *ngIf="crypto.ETHEREUM" value="ETHEREUM">Ethereum</ion-option>
        <ion-option *ngIf="crypto.RIPPLE" value="RIPPLE">Ripple</ion-option>
        <ion-option *ngIf="crypto.MONERO" value="MONERO">Monero</ion-option>
        <ion-option *ngIf="crypto.STELLAR" value="STELLAR">Stellar</ion-option>
        <ion-option *ngIf="crypto.CARDANO" value="CARDANO">Cardano</ion-option>
        <ion-option *ngIf="crypto.ZILLIQA" value="ZILLIQA">Zilliqa</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Country' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.country" formControlName="country">
        <ion-option value="singapore">{{'Singapore' | translate}}</ion-option>
        <ion-option value="malaysia">{{'Malaysia' | translate}}</ion-option>
        <ion-option value="thailand">{{'Thailand' | translate}}</ion-option>
        <ion-option value="china">{{'China' | translate}}</ion-option>
        <ion-option value="korea">{{'Korea' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'Currency' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.fiat" (ngModelChange)="fiatchange()" formControlName="fiat">
        <ion-option value="SGD">{{'fiat.SGD' | translate}}</ion-option>
        <ion-option value="CNY">{{"fiat.CNY" | translate}}</ion-option>
        <ion-option value="THB">{{"fiat.THB" | translate}}</ion-option>
        <ion-option value="MYR">{{"fiat.MYR" | translate}}</ion-option>
        <ion-option value="USD">{{'fiat.USD' | translate}}</ion-option>
        <ion-option value="KRW">{{'fiat.KRW' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'CryptoPrice' | translate}}</ion-label>
      <ion-input text-right readonly [(ngModel)]="cryptoprice" [ngModelOptions]="{standalone: true}"></ion-input>
      <ion-label>{{model.fiat}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'Price' | translate}}</ion-label>
      <ion-input text-right (ngModelChange)="changerange()" [(ngModel)]="model.price" formControlName="price"></ion-input>
      <ion-label>{{model.fiat}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'MinLimit' | translate}}</ion-label>
      <ion-input type="number" min="0" text-right [(ngModel)]="model.min_price" formControlName="min_price" (ngModelChange)="notbelowmax()"></ion-input>
    </ion-item>
    <ion-item *ngIf="adform.controls.min_price.hasError('required') && adform.controls.min_price.touched">
      <ion-label style="color:red">Min_Price is required.</ion-label>
    </ion-item>
    <ion-item *ngIf="adform.controls.min_price.hasError('min')&& adform.controls.min_price.touched">
      <ion-label style="color:red">Cannot be negative.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'MaxLimit' | translate}}</ion-label>
      <ion-input type="number" min="0" text-right [(ngModel)]="model.max_price" formControlName="max_price" (ngModelChange)="notbelowmax()"></ion-input>
    </ion-item>
    <ion-item *ngIf="adform.controls.max_price.hasError('required') && adform.controls.max_price.touched">
      <ion-label style="color:red">Max_Price is required.</ion-label>
    </ion-item>
    <ion-item *ngIf="adform.controls.max_price.hasError('min') && adform.controls.max_price.touched">
      <ion-label style="color:red">Cannot be negative.</ion-label>
    </ion-item>
    <ion-item *ngIf="belowmax && adform.controls.max_price.touched">
      <ion-label style="color:red">Max_price needs to be bigger than Min_price.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'Payment' | translate}}</ion-label>
      <ion-select item-right [(ngModel)]="model.payment" multiple="true" formControlName="payment">
        <ion-option value="paypal">{{'payment.paypal' | translate}}</ion-option>
        <ion-option value="bank">{{'payment.bank' | translate}}</ion-option>
        <ion-option value="alipay">{{'payment.alipay' | translate}}</ion-option>
        <ion-option value="wechatPay">{{'payment.wechatPay' | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="type === 'Buy'">
      <ion-label>{{'PaymentWindow' | translate}}</ion-label>
      <ion-input type="number" min="15" max="60" placeholder="{{'minutes' | translate}}" text-right [(ngModel)]="model.limit" formControlName="limit"></ion-input>
    </ion-item>
    <ion-item *ngIf="adform.controls.limit.hasError('required') && adform.controls.limit.touched">
      <ion-label style="color:red">Time limit is required.</ion-label>
    </ion-item>
    <ion-item *ngIf="adform.controls.limit.hasError('min') && adform.controls.limit.touched">
      <ion-label style="color:red">Time limit has to above 15.</ion-label>
    </ion-item>
    <ion-item *ngIf="adform.controls.limit.hasError('max') && adform.controls.limit.touched">
      <ion-label style="color:red">Time limit has to below 60.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'AdvertisementMessage' | translate}}</ion-label>
      <ion-textarea [(ngModel)]="model.message" formControlName="message"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="adform.controls.message.hasError('required') && adform.controls.message.touched">
      <ion-label style="color:red">Message is required.</ion-label>
    </ion-item>
    <ion-item text-center *ngSwitchCase="'Buy'">
      <button ion-button round (tap)="addbuyad()" large [disabled]="!adform.valid || belowmax || notgetprice">{{'Publish' | translate}}</button>
    </ion-item>
    <ion-item text-center *ngSwitchCase="'Sell'">
      <button ion-button round (tap)="addsellad()" large [disabled]="!adform.valid || belowmax || notgetprice">{{'Publish' | translate}}</button>
    </ion-item>
  </ion-list>
  <div *ngSwitchDefault>
    error
  </div>

</ion-content>