<ion-header>

  <ion-navbar>

    <ion-grid>

      <ion-row>

        <ion-col col-4>
          <text-avatar [text]="nickname==orderInfo.buyer?orderInfo.seller:orderInfo.buyer" item-left></text-avatar>
        </ion-col>

        <ion-col col-8>
          <h4 style="margin-top:1rem; font-size: 15.8px;">{{nickname==orderInfo.buyer?orderInfo.seller:orderInfo.buyer}}</h4>
        </ion-col>

      </ion-row>

    </ion-grid>

    <ion-buttons end>
      <!-- <button ion-button (tap)="complain()" icon-only>
        <ion-icon name="notifications" color="danger"></ion-icon>
      </button>
      <button ion-button (tap)="openModal()" icon-only>
        <ion-icon name="information-circle"></ion-icon>
      </button> -->
      <button ion-button clear icon-only item-right (tap)="attachImage()" icon-only>
        <ion-icon name="attach"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-item>
    <h4 ion-button (tap)="complain()">
      Complain
    </h4>
    <h4 ion-button (tap)="openModal()" >
      Information
    </h4>
  </ion-item>
</ion-header>


<ion-content overflow-scroll="true">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pulldown to Refresh" refreshingSpinner="circles" refreshingText="Fetch chat history...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines [virtualScroll]="chatsObservable$ | async" [approxItemHeight]="'88px'">

    <ion-item *virtualItem="let chat">

      <div class="chat-status" text-center *ngIf="chat.type==='informed'||chat.type==='finish'||chat.type==='rating';else message">
        <span class="chat-date">{{chat.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>

      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.user === nickname">
          <div class="right-bubble">
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p *ngIf="chat.message != null" text-wrap>{{chat.message}}</p>
            <span class="triangle"></span>
            <ion-thumbnail *ngIf="chat.isImage">
              <img #chatImage src="{{chat.downloadURL}}" (tap)="viewAttachedImage(chatImage)">
            </ion-thumbnail>
          </div>
        </div>

        <div class="chat-message" text-left *ngIf="chat.user !== nickname">
          <div class="left-bubble">
            <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
            <p *ngIf="chat.message != null" text-wrap>{{chat.message}}</p>
            <span class="triangle"></span>
            <ion-thumbnail *ngIf="chat.isImage">
              <img #chatImage src="{{chat.downloadURL}}" (tap)="viewAttachedImage(chatImage)">
            </ion-thumbnail>
          </div>
        </div>

      </ng-template>

    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <form (ngSubmit)="sendMessage()">
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <button ion-button clear icon-only item-right (tap)="takePhoto()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8>
          <ion-input #chat_input type="text" placeholder="Type a message" [(ngModel)]="data.message" (focusin)="onFocus()" name="message"></ion-input>
        </ion-col>
        <ion-col col-2 style="text-align: end;">
          <button ion-button clear icon-only float-end type="submit">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>