page-room {

  .toolbar-background {
    background-color: #327eff;
    border-color: transparent
  }
  .toolbar-title-ios{
    color: white
  }
  .button-inner {
    color: white
  }
  #complain{
    color: red
  }

  #orderInfo{ 
    color: green
  }
  ion-content {
    background-color: #f5f5f5;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    .item-md,
    .item-ios {
      background: none;
    }
  }
  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    ion-icon {
      padding: 10px;
      font-size: 20px;
    }
  }
  .chat-status {
    min-height: 49px;
    .chat-date {
      display: block;
      font-size: 10px;
      font-style: italic;
      color: #555;
      // text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
      height: 15px;
      left: 10%;
      right: 10%;
    }
    .chat-content-center {
      padding: 5px 10px;
      background-color: #e1e1f7;
      border-radius: 6px;
      font-size: 12px;
      color: #555;
      height: 34px;
      left: 10%;
      right: 10%;
    }
  }
  .chat-message {
    max-width: 80%;
    min-height: 40px;
    // text-align: right !important;
    .right-bubble {
      // width: fit-content;
      position: relative;
      background: #387ef5;
      border-top-left-radius: 0.4em;
      border-top-right-radius: 0.4em;
      border-bottom-left-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
      padding: 1px 10px 10px;
      left: 23%;
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: #fff;
      }
      span.msg-date {
        font-size: 10px;
        color: #dfdfe6;
      }
    }
    .right-bubble > p {
      color: #fff;
    }

    .right-bubble .triangle {
          // background-color: #387ef5;
          border-radius: 2px;
          height: 8px;
          width: 8px;
          top: 12px;
          display: block;
          border-style: solid;
          border-color: #387ef5;
          border-width: 1px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -4px;
          background-color: #387ef5;

    }

    // .right-bubble:after {
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 0;
    //   height: 0;
    //   border: 27px solid transparent;
    //   border-left-color: #387ef5;
    //   border-right: 0;
    //   border-top: 0;
    //   margin-top: -13.5px;
    //   margin-right: -27px;
    // }

    .left-bubble {
      // width: fit-content;
      border-style: solid;
      border-color: #ddd;
      border-width: 1px;
      position: relative;
      background: white;
      border-top-right-radius: 0.4em;
      border-top-left-radius: 0.4em;
      border-bottom-left-radius: 0.4em;
      border-bottom-right-radius: 0.4em;
      padding: 1px 10px 10px;
      left: 2%;
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: blue;
      }
      span.msg-date {
        font-size: 10px;
        color: #888;
      }
    }

    .left-bubble > p {
    color:#343434
    }

    .left-bubble .triangle {
         background-color: #fff;
          border-radius: 2px;
          height: 8px;
          width: 8px;
          top: 12px;
          display: block;
          border-style: solid;
          border-color: #ddd;
          border-width: 1px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          border-top-width: 0;
      border-right-width: 0;
      left: -5px;

    }

    // .left-bubble:after {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 0;
    //   height: 0;
    //   border: 27px solid transparent;
    //   border-right-color: #ffffff;
    //   border-left: 0;
    //   border-top: 0;
    //   margin-top: -13.5px;
    //   margin-left: -27px;
    // }
  }
}
ul {
  padding: 0px;

  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;

    ion-icon {
      font-size: 30px;
    }
  }
}
