<!--
  Generated template for the ModifyPrdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Modify Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="passwordForm" (ngSubmit)="submitForm()" >
    <ion-list>
      <ion-item>
        <ion-label stacked>Enter current password</ion-label>
        <ion-input formControlName="oldPassword" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.oldPassword.hasError('required') && passwordForm.controls.oldPassword.touched">
        <ion-label style="color:red">Password is required.</ion-label>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.oldPassword.hasError('isValid') && passwordForm.controls.oldPassword.touched">
        <ion-label style="color:red">Invalid current password.</ion-label>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.oldPassword.hasError('pattern') && passwordForm.controls.oldPassword.touched">
        <ion-label style="color:red">Invalid password. <br>- Password must include special characters <br>&nbsp;&nbsp;(!@#$%^&*). <br>- Alphanumeric and both uppercase & lowercase. <br>- Minimum password length is 12 characters long. <br>- At least 6 alphabets.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label stacked>Please enter new Password</ion-label>
        <ion-input formControlName="newPassword" type="password" [disabled]="!passwordForm.controls.oldPassword.valid"></ion-input>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.newPassword.hasError('required') && passwordForm.controls.newPassword.touched">
        <ion-label style="color:red">Password is required.</ion-label>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.newPassword.hasError('pattern') && passwordForm.controls.newPassword.touched">
        <ion-label style="color:red">Invalid password. <br>- Password must include special characters <br>&nbsp;&nbsp;(!@#$%^&*). <br>- Alphanumeric and both uppercase & lowercase. <br>- Minimum password length is 12 characters long. <br>- At least 6 alphabets.</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label stacked>Please confirm new Password</ion-label>
        <ion-input formControlName="confirmNewPassword" [disabled]="!passwordForm.controls.newPassword.valid" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.confirmNewPassword.hasError('required') && passwordForm.controls.confirmNewPassword.touched">
        <ion-label style="color:red">Confirm password is required.</ion-label>
      </ion-item>
      <ion-item *ngIf="passwordForm.controls.confirmNewPassword.touched && passwordForm.controls.confirmNewPassword.hasError('isValid') && passwordForm.controls.newPassword.valid">
        <ion-label style="color:red">Confirm password does not match the password.</ion-label>
      </ion-item>
    </ion-list>
    <div padding>
      <button tappable ion-button [disabled]="!passwordForm.valid" type="submit">
        Submit
      </button>
    </div>
  </form>
</ion-content>
