
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list >
    
    
      <button ion-item  (tap)="realNameTapped()">
        <ion-icon name="person" item-start></ion-icon>
        KYC Verification
      </button>

      <button ion-item  (tap)="paymentPrdTapped()">
        <ion-icon name="card" item-start></ion-icon>
        Change Trade Password
      </button>

      <button ion-item  (tap)="forgetTradePassword()">
        <ion-icon name="calculator" item-start></ion-icon>
        Forget Trade Password
      </button>
    
    <!-- <ion-item>
      <button ion-item  (tap)="bindPhoneTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Bind phone
      </button>
    </ion-item>
    <ion-item>
      <button ion-item  (tap)="bindEmailTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Bind email
      </button>
    </ion-item> -->
      <button ion-item  (tap)="passwordTapped()">
        <ion-icon name="lock" item-start></ion-icon>
        Change Password
      </button>
    <ion-item>
      <ion-icon name='globe' item-start></ion-icon>
      <ion-label>Select Language</ion-label>
      <ion-select [(ngModel)]="language" (ngModelChange)="switchLanguage()">
        <ion-option *ngFor="let language of languages" [value]="language.value">{{language.label}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-bitcoin' item-start></ion-icon>
      <ion-label>Native Currency</ion-label>
      <ion-select [(ngModel)]="baseCurrency" (ngModelChange)="setBaseCurrency()" [selectedText]="baseCurrency">
        <ion-option *ngFor="let currency of currencies" [value]="currency.currenciesCode">{{currency.currenciesDesc}} ({{currency.currenciesCode}})</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block outline (tap)="logout()" style="text-align: center" color="danger">
      Logout
  </button>
</ion-content>
