
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Safety
    </ion-list-header>
    <ion-item>
      <button ion-item  (tap)="realNameTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Real name verified
      </button>
    </ion-item>
    <ion-item>
      <button ion-item  (tap)="paymentPrdTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Payment password
      </button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Account
    </ion-list-header>
    
    <ion-item>
      <ion-icon name='settings' item-start></ion-icon>
      <ion-label>Native Currency</ion-label>
      <ion-select [(ngModel)]="baseCurrency" (ngModelChange)="setBaseCurrency()">
        <ion-option *ngFor="let currency of currencies" [value]="currency.currenciesCode">{{currency.currenciesDesc}} ({{currency.currenciesCode}})</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-item  (tap)="bindPhoneTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Bind phone
      </button>
    </ion-item>
    <ion-item>
      <button ion-item  (tap)="bindEmailTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Bind email
      </button>
    </ion-item>
    <ion-item>
      <button ion-item  (tap)="passwordTapped()">
        <ion-icon name="md-list-box" item-start></ion-icon>
        Password
      </button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Language
    </ion-list-header>
    <ion-item>
      <ion-icon name='settings' item-start></ion-icon>
      <ion-label>Select Language</ion-label>
      <ion-select [(ngModel)]="language" (ngModelChange)="switchLanguage()">
        <ion-option *ngFor="let language of languages" [value]="language.value">{{language.label}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
