<!--
  Generated template for the TradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border style="background-color: whitesmoke;padding-bottom: 1%">

  <ion-row style="background-color: #327eff; padding-bottom: 0.5%">

      <button ion-row col-4 clear justify-content-center small ion-button  icon-only (tap)="presentfilterPopover($event)" style="margin: 0 0 0 0; color: white;right: 2%">
          <p>{{fiat}} / {{'crypto.' + crypto | translate}}</p>
          <ion-icon name='ios-arrow-down' style="font-size: 13px; "></ion-icon>
      </button>


      <ion-searchbar col-8 mode="ios" type='text' placeholder="Search User"  [(ngModel)]="query" style="border:0 0 0 0; padding:0 0 0 0; background: transparent; min-height: 39px; border-top: 0px; border-bottom: 0px; right: 6%"></ion-searchbar>




  </ion-row>

  <ion-slides>
      <ion-slide *ngFor="let banner of banners">
        <img src={{banner.imgURL}}>
      </ion-slide>
  </ion-slides>




  <ion-segment [(ngModel)]="buynsell" (ngModelChange)="doRefresh()" style="background-color:white" >
      <ion-segment-button value="buy">{{'willing.wannaBuy' | translate}}</ion-segment-button>
      <ion-segment-button value="sell">{{'willing.wannaSell' | translate}}</ion-segment-button>
  </ion-segment>




  <!-- <button *ngIf="buynsell == 'buy'" float-right clear ion-button icon-only (tap)="addbuyad()">
      <i class="fa fa-plus fa-2x" style="background-color: rgba(248, 248, 248, 0.5); border-radius: 2rem;" aria-hidden="true"></i>
    </button>
    <button *ngIf="buynsell == 'sell'" float-right clear ion-button icon-only (tap)="addsellad()">
      <i class="fa fa-plus fa-2x" style="background-color: rgba(248, 248, 248, 0.5); border-radius: 2rem;" aria-hidden="true"></i>
    </button> -->

  <!-- style="position: absolute; left: 3rem;"  -->
  <!-- <ion-title text-center> -->

  <!-- </ion-title> -->

</ion-header>




<ion-content padding >


  <ion-grid>
  <ion-refresher no-border (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText="pulldown to refresh" refreshingSpinner="circles" refreshingText="refreshing...">
      </ion-refresher-content>
  </ion-refresher>


<ion-row>
  <ion-list>
    <ion-item *ngFor="let item of list| searchPipe:'owner':query">
      <text-avatar [text]="item.owner" (tap)="profile(item.owner)" item-left></text-avatar>
      <h2>{{item.owner}}</h2>
      <i [class]="item.country" *ngIf="country == 'global'"></i>
      <i *ngFor="let class of item.payment" [class]="class"></i>
      <div item-right text-right>
        <h5 style="color:#02cb66">
          {{item.price | number : '1.2-2'}}&nbsp;{{'fiat.'+item.fiat | translate}}
        </h5>
        <button ion-button [ngClass]="item.crypto" round (tap)="adinformation(item,true)" *ngIf="item.owner === currentuser">view my advertisement</button>
        <button ion-button [ngClass]="item.crypto" round (tap)="adinformation(item,false)" *ngIf="item.type==1 && item.owner != currentuser">{{'Buy' | translate}} {{item.crypto}}</button>
        <button ion-button [ngClass]="item.crypto" round (tap)="adinformation(item,false)" *ngIf="item.type==0 && item.owner != currentuser">{{'Sell' | translate}} {{item.crypto}}</button>
      </div>
    </ion-item>
    <ion-item *ngIf="list&&list.length != 0" style="height: 50px;"></ion-item>
    <ion-item *ngIf="list&&list.length == 0">
      <ion-label style="overflow: visible;">
        empty
      </ion-label>
    </ion-item>
  </ion-list>
</ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-fab bottom right>
    <button ion-fab (tap)="addbuyad()" color="secondary" *ngIf="buynsell == 'buy'">
      <ion-icon name="buy"></ion-icon>
    </button>
    <button ion-fab (tap)="addsellad()" color="danger" *ngIf="buynsell == 'sell'">
      <ion-icon name="sell"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
