<!--
  Generated template for the TradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-toolbar>
    <img float-left src="assets/imgs/logo_1.svg" style="margin-left: 3%;">

    <button clear float-right ion-button icon-only  (tap)="presentPopover($event)">
      <!--<i class="fas fa-filter fa-2x"></i>-->
      <i class="fa fa-sliders fa-2x" aria-hidden="true"></i>
    </button>

  </ion-toolbar>


</ion-header>


<ion-content>

  <ion-slides style="height:15% ">
    <ion-slide>
      <img src="https://i.ytimg.com/vi/eUxQnXunpmA/maxresdefault.jpg">
    </ion-slide>
    <ion-slide>
      <img src="https://i.ytimg.com/vi/Yj7ja6BANLM/maxresdefault.jpg" alt="">
    </ion-slide>


  </ion-slides>
  <ion-navbar style=" margin-top: -5px;">
    <ion-title text-center>
      <ion-segment [(ngModel)]="buynsell" (ngModelChange)="doRefresh()">
        <ion-segment-button value="buy">{{'willing.wannaBuy' | translate}}</ion-segment-button>
        <ion-segment-button value="sell">{{'willing.wannaSell' | translate}}</ion-segment-button>
      </ion-segment>
    </ion-title>
  </ion-navbar>
  <!-- <input type="text" #country style="display:none" (ngModelChange)="change()">
  <input type="text" #fiat style="display:none" (ngModelChange)="change()"> -->
  <ion-toolbar>
    <ion-segment [(ngModel)]="crypto" (ngModelChange)="doRefresh()">
      <ion-segment-button id="cry" value="ETHEREUM">
        <ion-icon name="eth"></ion-icon>
      </ion-segment-button>
      <ion-segment-button class="cry" value="RIPPLE">
        <ion-icon name="ripple"></ion-icon>
      </ion-segment-button>
      <ion-segment-button class="cry" value="MONERO">
        <ion-icon name="monero"></ion-icon>
      </ion-segment-button>
      <ion-segment-button class="cry" value="STELLAR">
        <ion-icon name="stellar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="CARDANO">
        <ion-icon name="cardano"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="pulldown to refresh" refreshingSpinner="circles" refreshingText="refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of list">
    <ion-item>
      <text-avatar [text]="item.owner" (tap)="profile(item.owner)" item-left></text-avatar>

      <h2>{{item.owner}}</h2>
      <p>{{'payment.'+item.payment | translate}}</p>
      <div item-right text-right>
        <h5 style="color:#02cb66">{{item.price | number : '1.2-2'}} {{'fiat.'+item.fiat | translate}}</h5>
        <button ion-button [ngClass]="item.crypto" round (tap)="adinformation(item,true)" *ngIf="item.owner === currentuser">view my advertisement</button>
        <button ion-button [ngClass]="item.crypto" round (tap)="adinformation(item,false)" *ngIf="item.type==1 && item.owner != currentuser">{{'Buy' | translate}} {{item.crypto}}</button>
        <button ion-button [ngClass]="item.crypto" round (tap)="adinformation(item,false)" *ngIf="item.type==0 && item.owner != currentuser">{{'Sell' | translate}} {{item.crypto}}</button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-fab bottom right>
    <button ion-fab (tap)="addbuyad()" color="secondary" *ngIf="buynsell == 'buy'">
      <ion-icon name="buy"></ion-icon>
    </button>
    <button ion-fab (tap)="addsellad()" color="danger" *ngIf="buynsell == 'sell'">
      <ion-icon name="sell"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>
