<!--
  Generated template for the ComplainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'Support' | translate}}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list *ngFor="let complain of complains" >

    <ion-item (tap)="onDetail(complain)">
      <h2>{{complain.fiat}}/{{complain.crypto}}</h2>
      <h2>{{complain.theOther}}</h2>
      <!-- <p>{{complain.type}}</p> -->
      <div item-right text-right>
        <h2>{{complain.createDate | date:'medium'}}</h2>
        <h5 style="color:#02cb66">{{complain.status == 0 ? "request for help" : (complain.status == 1 ? "Pending" : (complain.status == 2 ? "On Hold"
          : "Complete/Close"))}}</h5>
      </div>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="complains &&complains.length == 0">
    <ion-label>
      empty
    </ion-label>
  </ion-item>
</ion-content>