<ion-header>
  <ion-navbar>
    <ion-title>Advertisements</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="Active" (click)="onSegment()">
        Active
      </ion-segment-button>
      <ion-segment-button value="Disabled" (click)="onSegment()">
        Disabled
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText="Pulldown to Refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

  <div [ngSwitch]="value">
    <ion-list *ngSwitchCase="'Disabled'">
      <ion-item-sliding *ngFor="let advertisement of disableAdvertisement" >
        <ion-item  (click)="edit(advertisement)">
          <ion-avatar item-start>
            <ion-text-avatar>{{advertisement.owner}}</ion-text-avatar>
          </ion-avatar>
          <h2>{{advertisement.owner}}</h2>
          <p>{{advertisement.payment}}</p>
          <div item-right text-right>
            <h5 style="color:#02cb66">{{advertisement.price}} {{+advertisement.fiat}}</h5>
          </div>
        </ion-item>
        <ion-item-options>
            <button ion-button color="secondary" (click)="setVisible(advertisement)" icon-start>
              Active
            </button>
            <button ion-button color="danger" (click)="delete(advertisement)" icon-start>
              Delete
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <ion-list *ngSwitchCase="'Active'">
      <ion-item-sliding *ngFor="let advertisement of activeAdvertisement" >
        <ion-item (click)="read(advertisement)">
          <ion-avatar item-start>
            <ion-text-avatar>{{advertisement.owner}}</ion-text-avatar>
          </ion-avatar>
            <h2>{{advertisement.owner}}</h2>
            <p>{{advertisement.payment}}</p>
          <div item-right text-right>
            <h5 style="color:#02cb66">{{advertisement.price}} {{advertisement.fiat}}</h5>
          </div>
        </ion-item>
        <ion-item-options>
            <button ion-button color="danger" (click)="setVisible(advertisement)" icon-start>
              Disable
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>