<ion-header>
  <ion-navbar>
    <ion-title>Advertisements</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="Active" (click)="onSegment()">
        Active
      </ion-segment-button>
      <ion-segment-button value="Disabled" (click)="onSegment()">
        Disabled
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingText="Pulldown to Refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  <div [ngSwitch]="value">
    <ion-list *ngSwitchCase="'Disabled'">
        <ion-card *ngFor="let advertisement of disableAdvertisement" >
          <ion-item>
            <ion-avatar item-start>
              <ion-text-avatar>{{advertisement.owner}}</ion-text-avatar>
            </ion-avatar>
            <h2>{{advertisement.owner}}</h2>
            <p>{{advertisement.payment}}</p>
            <div item-right text-right>
              <h5 style="color:#02cb66">{{advertisement.price}} {{+advertisement.fiat}}</h5>
            </div>
          </ion-item>
        </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'Active'">
        <ion-card *ngFor="let advertisement of activeAdvertisement" >
          <ion-item>
            
          <ion-avatar item-start>
            <ion-text-avatar>{{advertisement.owner}}</ion-text-avatar>
          </ion-avatar>
          
                <h2>{{advertisement.owner}}</h2>
                <p>{{advertisement.payment}}</p>
           
            <div item-right text-right>
                <ion-select  interface="popover">
                  <ion-option (click)="read(advertisement)" value="0">details</ion-option>
                </ion-select>
              <h5 style="color:#02cb66">{{advertisement.price}} {{advertisement.fiat}}</h5>
            
          </div>
          </ion-item>
        </ion-card>
    </ion-list>
  </div>
</ion-content>