<!--
  Generated template for the AlertPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'Alerts' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addNewAlert()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pulldown to Refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-divider>
      <ion-icon name="{{'alertCrypto.'+crypto | translate}}"></ion-icon>
      <span class="tips">&nbsp;&nbsp;{{crypto}}: {{'AveragePriceIs' | translate}} {{averagePrice | number : '1.2-2'}} {{'fiat.USD' | translate}}</span>
    </ion-item-divider>
    <ion-item-sliding #item *ngFor="let alert of alerts | async">
      <ion-item>
        <ion-label>
          <h2>
            {{alert.fiat}} {{alert.above?'Above':'Below'}} {{alert.price}}</h2>
          <p>Created on {{alert.date | date : 'fullDate'}}</p>
        </ion-label>
        <ion-toggle [(ngModel)]="alert.status" (ngModelChange)="onStatus(alert)"></ion-toggle>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (tap)="onDelete(alert)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary">
      <ion-icon name="attach"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button *ngFor="let selectedCrypto of cryptosFAB" ion-fab mini float-center (tap)="changeCrypto(selectedCrypto.value)" color="secondary">
        <ion-icon name="{{selectedCrypto.icon}}"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>