<ion-header>
  <ion-navbar>
    <ion-title>{{'Follow' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="following" (tap)="onSegment()">
        {{'Following' | translate}}
      </ion-segment-button>
      <ion-segment-button value="followers" (tap)="onSegment()">
        {{'Followers' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="value">
    <ion-list *ngSwitchCase="'following'">
      
        <ion-item *ngFor="let following of followings"  (tap)="profile(following)">
          <text-avatar [text]="following" item-left></text-avatar>

          <h2>{{following}}
          </h2>
        </ion-item>

  
    </ion-list>
    <ion-list *ngSwitchCase="'followers'">
      
        <ion-item *ngFor="let follower of followers" (tap)="profile(follower)">
          <text-avatar [text]="follower"  item-left></text-avatar>

          <h2>{{follower}}
          </h2>
        </ion-item>

    
    </ion-list>
  </div>
</ion-content>