<ion-header>
  <ion-navbar>
    <ion-title>Trusted</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="following"  (click)="onSegment()">
        Following
      </ion-segment-button>
      <ion-segment-button value="followers" (click)="onSegment()">
        Followers
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="value">
    <ion-list *ngSwitchCase="'following'">
        <ion-card *ngFor="let following of followings" >
          <ion-item>
            <ion-avatar item-start>
              <ion-text-avatar (click)="profile(following)">{{following}}</ion-text-avatar>
            </ion-avatar>
            <h2>{{following}}
            </h2>
          </ion-item>

        </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'followers'">
      <ion-card *ngFor="let follower of followers" >
        <ion-item>
          <ion-avatar item-start>
            <ion-text-avatar (click)="profile(follower)">{{follower}}</ion-text-avatar>
          </ion-avatar>
          <h2>{{follower}}
          </h2>
        </ion-item>

      </ion-card>
    </ion-list>
  </div>
</ion-content>