page-trusted {
    .toolbar-background {
        background-color: #327eff;
        border-color: transparent
      }
      .toolbar-title-ios{
        color: white
      }
    
      ion-segment-md{
        background-color: #327eff;
        border-color: transparent
    
      }
      .segment-md .segment-button {
        color:  white;
      }
      .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated  {
        border-color: white;
      }
      .button-inner {
        color: white
    }

}
