<ion-header >
  <ion-navbar mode="ios">
    <ion-title mode="ios">{{'Me' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="model">
  <ion-list mode="md" *ngIf="currentuser.username != ''" no-lines>
    <ion-list-header mode="md">
      <ion-item mode="md">
        <text-avatar [text]="user.name" item-left></text-avatar>
        <p class="username">{{user.name}}</p>
        <p>{{user.email}}</p>
      </ion-item>
      <ion-item mode="md">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>{{model.orderCount}}</h2>
              <p>{{'Trades' | translate}}</p>
            </ion-col>
            <ion-col>
              <h2>{{followingCount}}</h2>
              <p>{{'Following' | translate}}</p>
            </ion-col>
            <ion-col>
              <h2>{{followerCount}}</h2>
              <p>{{'Followers' | translate}}</p>
            </ion-col>
            <ion-col>
              <h2>{{rating}}</h2>
              <p>{{'Rating' | translate}}</p>
            </ion-col>
            <ion-col>
              <h2>0</h2>
              <p>{{'Volume' | translate}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list-header>
  </ion-list>

  <ion-list no-border *ngIf="currentuser.username != ''">
    <button ion-item (tap)="advertisementsTapped()">
      <ion-icon name="easel" item-start></ion-icon>
      {{'Advertisements.Advertisements' | translate}}
    </button>

    <button ion-item (tap)="trustedTapped()">
      <ion-icon name="contacts" item-start></ion-icon>
      {{'Follow' | translate}}
      <ion-badge item-end color="danger" *ngIf="profileBadge !== 0">{{profileBadge}}</ion-badge>
    </button>

    <button ion-item (tap)="settingsTapped()">
      <ion-icon name="settings" item-start></ion-icon>
      {{'Settings' | translate}}
    </button>

    <button ion-item (tap)="complain()">
      <ion-icon name="text" item-start></ion-icon>
      {{'Support' | translate}}
    </button>

    <button ion-item (tap)="googleAuth()">
      <ion-icon name="logo-google" item-start></ion-icon>
      {{'GoogleAuthenticator' | translate}}
    </button>


  </ion-list>
  <ion-list *ngIf="currentuser.username != ''">
    <button ion-item>
      <i class="fal fa-code-commit"></i>
      v0.04 beta
    </button>
  </ion-list>

</ion-content>
