<!--
  Generated template for the ForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reset Password </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForm()" >
    <!-- <fieldset [disabled]="isSubmitting" > -->
      <ion-list>
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="forgetPasswordForm.controls.email.hasError('required') && forgetPasswordForm.controls.email.touched">
          <ion-label style="color:red">Email is required.</ion-label>
        </ion-item>
        <ion-item *ngIf="forgetPasswordForm.controls.email.hasError('email') && forgetPasswordForm.controls.email.touched">
          <ion-label style="color:red">Invalid email address.</ion-label>
        </ion-item>
      </ion-list>
      <div padding>
        <button tappable ion-button [disabled]="!forgetPasswordForm.valid" type="submit">
          Submit
        </button>
      </div>
  </form>
</ion-content>
