<!--
  Generated template for the KycListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar mode="ios">
    <ion-title mode="ios">KYC Verification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card (tap)="goVerifyKYCName()">
    <ion-card-header>
      Real Name Verification
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="user.verifyKYCName == 0">
        <ion-badge color="light" item-end>Not Verified</ion-badge>
      </ion-item>
      <ion-item *ngIf="user.verifyKYCName != 0">
        <p>{{user.firstName}} {{user.lastName}}</p>
        <ion-badge *ngIf="user.verifyKYCName == 1" item-end>Pending</ion-badge>
        <ion-badge *ngIf="user.verifyKYCName == 2" item-end>Verified</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card (tap)="goPassportPhoto()">
    <ion-card-header>
      ID Verification
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="user.verifyPassportPhoto == 0">
        <ion-badge color="light" item-end>Not Verified</ion-badge>
      </ion-item>
      <ion-item *ngIf="user.verifyPassportPhoto != 0">
        <p>{{user.firstName}} {{user.lastName}}</p>
        <ion-badge *ngIf="user.verifyPassportPhoto == 1" item-end>Pending</ion-badge>
        <ion-badge *ngIf="user.verifyPassportPhoto == 2" item-end>Verified</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card (tap)="goSelfie()">
    <ion-card-header>
      Selfie Verification
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="user.verifySelfie == 0">
        <ion-badge color="light" item-end>Not Verified</ion-badge>
      </ion-item>
      <ion-item *ngIf="user.verifySelfie != 0">
        <p>{{user.firstName}} {{user.lastName}}</p>
        <ion-badge *ngIf="user.verifySelfie == 1" item-end>Pending</ion-badge>
        <ion-badge *ngIf="user.verifySelfie == 2" item-end>Verified</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>