page-send-mail {
    .toolbar-background {
        background-color: #327eff;
        border-color: transparent
      }
      .toolbar-title-ios{
        color: white
      }
      .button-inner {
        color: white
    }


}
