<!--
  Generated template for the WalletDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transaction history</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="goBack()">
        <ion-icon name="back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-label>Pending</ion-label>
  </ion-item>
  
  <ion-list no-lines [virtualScroll]="transactionHistoryPendingObservable$ | async" approxItemHeight="100px">
    <ion-item *virtualItem="let pendingHistory">
      <ion-avatar item-start>
        <img *ngIf="pendingHistory.cryptoCurrency == 'ETH'" src="assets/imgs/ETH.png">
        <img *ngIf="pendingHistory.cryptoCurrency == 'ADA'" src="assets/imgs/ADA.jpg">
        <img *ngIf="pendingHistory.cryptoCurrency == 'XLM'" src="assets/imgs/XLM.jpg">
        <img *ngIf="pendingHistory.cryptoCurrency == 'XMR'" src="assets/imgs/XMR.jpg">
        <img *ngIf="pendingHistory.cryptoCurrency == 'XRP'" src="assets/imgs/XRP.jpg">
      </ion-avatar>
      <h2>Order No: {{pendingHistory.orderNo}}</h2>
      <h3>{{pendingHistory.createdAt | date: 'medium'}}</h3>
      <!-- <p><a href="https://rinkeby.etherscan.io/tx/{{pendingHistory.receipt.hash}}">View transaction</a></p> -->
      <button ion-button color="primary" (tap)="openLink(pendingHistory.receipt.hash)">View Transaction</button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Completed</ion-label>
  </ion-item>

  <ion-list no-lines [virtualScroll]="transactionHistoryCompletedObservable$ | async" approxItemHeight="100px">
    <ion-item *virtualItem="let completedHistory">
      <ion-avatar item-start>
        <img *ngIf="completedHistory.cryptoCurrency == 'ETH'" src="assets/imgs/ETH.png">
        <img *ngIf="completedHistory.cryptoCurrency == 'ADA'" src="assets/imgs/ADA.jpg">
        <img *ngIf="completedHistory.cryptoCurrency == 'XLM'" src="assets/imgs/XLM.jpg">
        <img *ngIf="completedHistory.cryptoCurrency == 'XMR'" src="assets/imgs/XMR.jpg">
        <img *ngIf="completedHistory.cryptoCurrency == 'XRP'" src="assets/imgs/XRP.jpg">
      </ion-avatar>
      <h2>Order No: {{completedHistory.orderNo}} {{completedHistory | json}}</h2>
      <h3>{{completedHistory.createdAt | date: 'medium'}}</h3>
      <!-- <p><a href="https://rinkeby.etherscan.io/tx/{{completedHistory.receipt.hash}}">View transaction</a></p> -->
      <button ion-button color="primary" (tap)="openLink(completedHistory.receipt.hash)">View Transaction</button>

    </ion-item>

  </ion-list>

</ion-content>
